body {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

.title {
  border-bottom: 5px solid black;
  margin-bottom: 2rem;
}

h1,
h3,
h4 {
  padding: 2rem 0;
  text-transform: uppercase;
}

img {
  max-width: 400px;
  padding: 2rem 0 ;
}

img:hover {
  cursor: pointer;
}

ul {
  padding: 1rem;
  text-align: left;
}

li {
  list-style: none;
}

label {
  margin-top: 0.7rem;
  margin-bottom: 0.3rem;
}

.bg-blue {
  background-color: #578CA9;
}

.bg-hazelnut {
  background-color: #CFB095;
}

.clickable {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.clickable:hover{
  color: #CFB095;
}

.cat-display {
  height: 500px;
  margin-left: 2rem;
}

.button {
  color: white;
  text-transform: uppercase;
  border: none;
}

.green-button {
  background-color: #5A7247;
}

.yellow-button {
  background-color: #F6D155;
}

#admin-button {
  padding: 1rem 2rem;
}

#cancel-button, #save-button {
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0.3rem 0;
}
